doctype html
html(charset="UTF-8")
  head
    link(href="#{baseURL('static/styles.css')}", rel="stylesheet")
    block title
      title #{site.name}
  body
    header#header
      h1
        a(href="#{baseURL('index.html')}") #{site.name}
      p #{site.description}
    main#main
      block content
  footer#footer
    | Copyright (C) Kizz Team. All rights reserved.