doctype html
html(charset="UTF-8")
  head
    link(rel="kizz-base-url", href="#{baseURL('')}")
    link(rel="stylesheet", href="#{baseURL('static/styles.css')}")
    block title
      title #{site.name}
  body
    header#header
      h1
        a(href="#{baseURL('index.html')}") #{site.name}
      p #{site.description}
      input#search
    main#main
      block content
    footer#footer
      | Copyright (C) Kizz Team. All rights reserved.
    script(src="#{baseURL('static/js/bundle.js')}")
