doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="generator", content="Kizz")
    meta(name="kizz-base-url", content="#{baseURL('')}")
    block head
    block title
      title #{site.name}
    link(rel="stylesheet", href="#{baseURL('static/styles.css')}")
  body
    header#header
      h1
        a(href="#{baseURL('index.html')}") #{site.name}
      p #{site.description}
      input#search
    main#main
      block content
    footer#footer
      | Copyright (C) Kizz Team. All rights reserved.
    script(src="#{baseURL('static/js/bundle.js')}")
