doctype html
html(charset="UTF-8")
  head
    // To view prerender
    // use chrome://net-internals/#prerender instead of dev tools
    // or it will be canceled
    link(rel="kizz-base-url", href="#{baseURL('')}")
    link(rel="stylesheet", href="#{baseURL('static/styles.css')}")
    block title
      title #{site.name}
  body
    header#header
      h1
        a(href="#{baseURL('index.html')}") #{site.name}
      p #{site.description}
      input#search
    main#main
      block content
    footer#footer
      | Copyright (C) Kizz Team. All rights reserved.
    script
    
    script(src="#{baseURL('static/js/prism.js')}")
    script(src="#{baseURL('static/js/jquery.min.js')}")
    script(src="#{baseURL('static/js/bundle.js')}")
    script(src="#{baseURL('db.jsonp')}")